<footer class="mg-footer">
    <div class="mg-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="mg-footer-nav">
                        <li><a href="{{ path('app_homepage') }}">{{ 'layout.menu.home'|trans }}</a></li>
                        <li><a href="{{ path('app_room') }}">{{ 'layout.menu.rooms'|trans }}</a></li>
                        <li><a href="{{ path('app_gallery') }}">{{ 'layout.menu.gallery'|trans }}</a></li>
                        <li><a href="{{ path('app_contact') }}">{{ 'layout.menu.contact'|trans }}</a></li>
                        <li><a href="{{ path('app_guest_book') }}">{{ 'layout.menu.guest-book'|trans }}</a></li>
                        <li><a href="{{ path('app_legal_notice') }}">{{ 'layout.menu.legalNotice'|trans }}</a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <p>&copy; 2017 <a href="#">Vincent Tiertant</a>. {{ 'layout.footer.copyright'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
</footer>
