<div class="col-md-7">
    <h2 class="mg-sec-left-title">{{ 'contactpage.adress.title'|trans }}</h2>
    <p>{{ 'contactpage.adress.description'|trans }}</p>
    <ul class="mg-contact-info">
        {% if paramAddress is not null %}
            <li><i class="fa fa-map-marker"></i> {{ translate(paramAddress.translations, "content") }} </li>
        {% endif %}
        {% if paramPhone is not null %}
            <li><i class="fa fa-phone"></i> {{ translate(paramPhone.translations, "content") }} </li>
        {% endif %}
        {% if paramEmail is not null %}
            <li><i class="fa fa-envelope"></i> <a href="mailto:{{ translate(paramEmail.translations, "content") }} ">{{ translate(paramEmail.translations, "content") }} </a></li>
        {% endif %}
    </ul>
    <div id="mg-map" class="mg-map"></div>
</div>
