<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">

        <ul class="nav" id="side-menu">
            <li>
                <a href="{{ path('admin_dashboard') }}"><i class="fa fa-tachometer fa-lg"></i> Tableau de bord</a>
            </li>

            <li>
                <a href="{{ path('admin_dashboard') }}"><i class="fa fa-file-text fa-lg"></i> Contenus</a>
            </li>

            <li>
                <a href="{{ path('admin_room') }}"><i class="fa fa-bed fa-lg"></i> Chambres</a>
            </li>

            <li>
                <a href="{{ path('admin_dashboard') }}"><i class="fa fa-picture-o fa-lg"></i> Images</a>
            </li>

            <li>
                <a href="{{ path('admin_dashboard') }}"><i class="fa fa-wrench fa-lg"></i> Paramètres</a>
            </li>

            <li>
                <a href="{{ path('admin_dashboard') }}"><i class="fa fa-book fa-lg"></i> Livre d'or</a>
            </li>
            {# exemple 2 level #}
            {#<li>#}
            {#<a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Charts<span class="fa arrow"></span></a>#}
            {#<ul class="nav nav-second-level">#}
            {#<li>#}
            {#<a href="flot.html">Flot Charts</a>#}
            {#</li>#}
            {#<li>#}
            {#<a href="morris.html">Morris.js Charts</a>#}
            {#</li>#}
            {#</ul>#}
            {#<!-- /.nav-second-level -->#}
            {#</li>#}


            {# Exemple 3 level
            <li>#}
            {#<a href="#"><i class="fa fa-sitemap fa-fw"></i> Multi-Level Dropdown<span class="fa arrow"></span></a>#}
            {#<ul class="nav nav-second-level">#}
            {#<li>#}
            {#<a href="#">Second Level Item</a>#}
            {#</li>#}
            {#<li>#}
            {#<a href="#">Second Level Item</a>#}
            {#</li>#}
            {#<li>#}
            {#<a href="#">Third Level <span class="fa arrow"></span></a>#}
            {#<ul class="nav nav-third-level">#}
            {#<li>#}
            {#<a href="#">Third Level Item</a>#}
            {#</li>#}
            {#<li>#}
            {#<a href="#">Third Level Item</a>#}
            {#</li>#}
            {#<li>#}
            {#<a href="#">Third Level Item</a>#}
            {#</li>#}
            {#<li>#}
            {#<a href="#">Third Level Item</a>#}
            {#</li>#}
            {#</ul>#}
            {#<!-- /.nav-third-level -->#}
            {#</li>#}
            {#</ul>#}
            {#<!-- /.nav-second-level -->#}
            {#</li>#}
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>
