<div class="mg-best-rooms">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>{{ 'homepage.bestrooms.title' |trans }}</h2>
                    <p>{{ 'homepage.bestrooms.description'|trans }}</p>
                </div>
                <div class="row">
                    {% for bestRoom in bestRooms %}
                        <div class="col-sm-4">
                            <figure class="mg-room">
                                {% if bestRoom.picture is not null %}
                                    <img src="/{{ bestRoom.picture.url }}" alt="{{ translate(bestRoom.picture.translations, 'alt') }}" class="img-responsive">
                                {% else %}
                                    {% image '@AppBundle/Resources/public/images/room-1.png' %}
                                        <img src="{{ asset_url }}" alt="img11" class="img-responsive">
                                    {% endimage %}
                                {% endif %}
                                 <figcaption>
                                    <h2>{{ translate(bestRoom.translations, 'name') }}</h2>
                                    {#<div class="mg-room-rating"><i class="fa fa-star"></i> 5.00</div>#}
                                    <div class="mg-room-price">{{ bestRoom.price }}€<sup>/{{ 'homepage.bestrooms.night'|trans }}</sup></div>
                                    <p>{{ translate(bestRoom.translations, 'description') }}</p>
                                    <a href="{{ path('app_room_view', {'slug':translate(bestRoom.translations,'slug')})  }}" class="btn btn-link">{{ 'homepage.bestrooms.details'|trans }} <i class="fa fa-angle-double-right"></i></a>
                                    <a href="{{ path('app_contact') }}" class="btn btn-main">{{ 'homepage.bestrooms.book'|trans }}</a>
                                </figcaption>
                            </figure>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{#<div class="container">#}
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#<hr>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
