<div class="mg-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="mg-sec-title">
                    <h2>{{ 'homepage.features.title'|trans }}</h2>
                    <p>{{ 'homepage.features.description'|trans }}</p>
                </div>
                <div class="row">
                    {% for fecility in fecilities %}
                        <div class="col-sm-4">
                            <div class="mg-feature">
                                <div class="mg-feature-icon-title">
                                    <i class="fa fa-{{ fecility.icon }}"></i>
                                    <h3>{{ translate(fecility.translations, 'name') }}</h3>
                                </div>
                                <p>{{ translate(fecility.translations, 'content') | raw }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
