{% extends 'AppBundle::layout.html.twig' %}

{% block body %}

    <div class="mg-page-title parallax">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>{{ 'roomspage.title'|trans }}</h2>
                    <p>{{ 'roomspage.description'|trans }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="mg-page mg-available-rooms">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for room in rooms %}
                        <div class="mg-avl-room">
                            <div class="row">
                                <div class="col-sm-5">
                                    {% if room.picture is not null %}
                                        <a href="{{ path('app_room_view', {'slug':translate(room.translations,'slug')})  }}">
                                            <img src="/{{ room.picture.url }}" alt="{{ translate(room.picture.translations, 'alt') }}" class="img-responsive">
                                        </a>
                                    {% else %}
                                        {% image '@AppBundle/Resources/public/images/room-1.png' %}
                                        <img src="{{ asset_url }}" alt="img11" class="img-responsive">
                                        {% endimage %}
                                    {% endif %}
                                </div>
                                <div class="col-sm-7">
                                    <h3 class="mg-avl-room-title"><a href="{{ path('app_room_view', {'slug':translate(room.translations,'slug')})  }}">{{ translate(room.translations, 'name') }}</a> <span>{{ room.price }}€<sup>/{{ 'homepage.bestrooms.night'|trans }}</sup></span></h3>
                                    <p>{{ translate(room.translations, 'description') }}</p>
                                    <div class="row mg-room-fecilities">
                                        <div class="col-sm-6">
                                            <ul>
                                                <li><i class="fp-ht-bed"></i> 2 King Beds</li>
                                                <li><i class="fp-ht-food"></i> Breakfast</li>
                                                <li><i class="fa fa-sun-o"></i> Air conditioning</li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-6">
                                            <ul>
                                                <li><i class="fp-ht-dumbbell"></i> GYM fecility</li>
                                                <li><i class="fp-ht-tv"></i> TV LCD</li>
                                                <li><i class="fp-ht-computer"></i> Wi-fi service</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <a href="{{ path('app_room_view', {'slug':translate(room.translations,'slug')})  }}" class="btn btn-dark ">{{ 'homepage.bestrooms.details'|trans }} <i class="fa fa-angle-double-right"></i></a>
                                    <a href="#" class="btn btn-main pull-right">{{ 'homepage.bestrooms.book'|trans }}</a>

                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

